RewriteEngine on

RewriteRule ^(sign)($|/) - [L]

RewriteRule ^(views_online)($|/) - [L]

#RewriteCond %{THE_REQUEST} !/registro/ [NC]
RewriteCond %{THE_REQUEST} !/sign/ [NC]

RewriteRule ^(.*)$ views_online/inicio.php?name=$1 [QSA,L]
RewriteRule ^directo/(.+) direct/text.php?name=$1

#RewriteRule ^(views_online)($|/) - [L]


#RewriteRule ^(sign)($|/) - [L]
